body {
  padding-top: 60px;
  font-weight: 300;
  font-size: 20px;
}

ul {
  clear: both;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

h2 {
  margin-top: 1em;
  margin-bottom: 0.3em;
}

h3 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
}

h4, h5, h6 {
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

// Home Page
body.home {
  .logo {
    background: url("../images/logo.png") top left transparent;
    float: left;
    font-size: 4em;
    line-height: 1;
    margin-top: 1em;
    padding: 0px 30px;
    margin-bottom: 90px;
    width: 460px;
    height: 143px;
  }
}

article {
  strong, .easy-table th {
    font-weight: 400;
  }
  ol, ul {
    margin-bottom: 1em;
    li {
      margin-top: 0.5em;
    }
  }
}
