html {
  box-sizing: conent-box;
  min-height: 100%;
  padding-bottom: 46px;
  position: relative;
}

body {
  padding-top: 60px;
  font-weight: 300;
  font-size: 18px;
}

ul {
  clear: both;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

h2, h3, h4, h5, h6 {
  margin-top: 1.5em;
  margin-bottom: 0.9em;
}

// Home Page
body.home {
  .logo {
    background: url("../images/logo.png") top left transparent;
    float: left;
    font-size: 4em;
    line-height: 1;
    margin-top: 1em;
    padding: 0px 30px;
    margin-bottom: 90px;
    width: 460px;
    height: 143px;
  }
}

#footer {
  bottom: 0px;
  clear: both;
  color: $white;
  float: left;
  font-size: 0.7em;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 99999;
  div {
    background: $black;
    padding: 1em 25px;
  }
}
