body {
  padding-top: 60px;
  font-weight: 300;
  font-size: 20px;
}

ul {
  clear: both;
  display: block;
}

h2 {
  margin-top: 1em;
}

h3 {
  margin-top: 0.5em;
}

// Home Page
body.home {
  .logo {
    background: url("../images/logo.png") top left transparent;
    float: left;
    font-size: 4em;
    line-height: 1;
    margin-top: 1em;
    padding: 0px 30px;
    margin-bottom: 90px;
    width: 460px;
    height: 143px;
  }
}
