@charset 'utf-8';

@import 'fonts';
@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
/* @include foundation-grid; */
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
/* @include foundation-accordion; */
/* @include foundation-accordion-menu; */
/* @include foundation-badge; */
/* @include foundation-breadcrumbs; */
/* @include foundation-button-group; */
/* @include foundation-callout; */
/* @include foundation-close-button; */
/* @include foundation-drilldown-menu; */
/* @include foundation-dropdown; */
/* @include foundation-dropdown-menu; */
/* @include foundation-flex-video; */
/* @include foundation-label; */
/* @include foundation-media-object; */
@include foundation-menu;
/* @include foundation-off-canvas; */
/* @include foundation-orbit; */
/* @include foundation-pagination; */
/* @include foundation-progress-bar; */
/* @include foundation-slider; */
@include foundation-sticky;
/* @include foundation-reveal; */
/* @include foundation-switch; */
/* @include foundation-table; */
/* @include foundation-tabs; */
/* @include foundation-thumbnail; */
/* @include foundation-title-bar; */
/* @include foundation-tooltip; */
@include foundation-top-bar;

/* @include motion-ui-transitions; */
/* @include motion-ui-animations; */

// Home Page
body {
  padding-top: 60px;
  font-weight: 300;
  font-size: 16px;
  &.home {
    font-family: 'latin_modern_mono10_regular';
    .logo {
      background: url("../images/logo.png") top left transparent;
      float: left;
      font-size: 4em;
      line-height: 1;
      margin-top: 1em;
      padding: 0px 30px;
      margin-bottom: 90px;
      width: 460px;
      height: 143px;
    }
  }
}

#menu-home-nav {
  float: left;
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  li {
    float: left;
    margin-bottom: 15px;
    width: 100%;
    a {
      background: #222;
      color: #fff;
      display: block;
      float: left;
      font-size: 1.5em;
      padding: 5px 10px;
      transition: all 0.3s ease 0s;
      &:hover {
        background: $global-yellow;
        color: #222;
      }
    }
  }
}

.sticky-menu {
  background: #222;
  height: 60px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  ul.menu {
    float: left;
    overflow: hidden;
    li {
      float: left;
      a {
        color: #fff;
        display: block;
        font-family: 'latin_modern_mono10_regular';
        font-size: 1.3em;
        line-height: 1;
        line-height: 60px;
        padding: 0 20px;
        transition: color 0.3s ease 0s;
        &:hover {
          color: $global-yellow;
        }
      }
      &.current-menu-item {
        a {
          color: $global-yellow;
          text-decoration: underline;
        }
      }
    }
  }
}

.nav-logo {
  display: block;
  float: left;
  margin-top: 12px;
  padding: 0px;
}

.sidebar {
  border-right: 1px solid #c1c1c1;
  position: fixed;
  top: 60px;
  bottom: 0px;
  left: 0px;
  overflow-y: scroll;
  box-sizing: border-box;
  padding-top: 10px;
  ul {
    margin: 0px;
    list-style: none;
    min-width: 100%;
    a {
      width: 100%;
      float: left;
      box-sizing: content-box;
      padding-left: 20px;
      padding-right: 20px;
      &:hover, &.active {
        background: #d1d1d1;
      }
    }
  }
  > ul {
    > li {
      margin-top: 15px;
      > a {
        font-size: 1.3em;
        font-weight: 500;
      }
      li {
        padding-left: 15px;
      }
    }
  }
}

.chapter-title {
  box-sizing: border-box;
  padding: 0 20px;
  margin-bottom: 1em;
  background: $global-yellow;
}