.page-title {
  box-sizing: border-box;
  margin-bottom: 0.5em;
  margin-top: 30px;
  float: left;
  .single-chapter & {
    width: 100%;
  }
}

.chapter-content {
  padding-top: 60px;
  @media #{$large-up} {
    padding-top: 0px;
  }
}
