.sidebar {
  background: $body-background;
  border-right: 1px solid #c1c1c1;
  display: block;
  position: fixed;
  top: 60px;
  bottom: 0px;
  left: 0px;
  overflow-y: scroll;
  box-sizing: border-box;
  padding-top: 60px;
  z-index: 99;
  transform: translateX(-100%);
  transition: transform 0.3s ease 0s, opacity 0.3s ease;
  &.active {
    transform: translateX(0);
  }
  @media #{$large-up} {
    transform: translateX(0);
    padding-top: 10px;
  }
  /* All levels */
  ul {
    margin: 0px;
    list-style: none;
    min-width: 100%;
    li {
      padding-left: 15px;
    }
    a {
      width: 100%;
      float: left;
      box-sizing: content-box;
      padding-left: 20px;
      padding-right: 20px;
      &:hover, &.active {
        background: #d1d1d1;
      }
    }
  }

  /* First level */
  > ul {
    > li {
      margin-top: 10px;
      > a {
        font-size: 1.3em;
        font-weight: 500;
      }
      /* Second level */
      > ul {
        a {
          position: relative;
          &:before {
            display: block;
            top: 0px;
            left: 20px;
            position: absolute;
            font-weight: bold;
          }
        }
        > li {
          /* third level */
          > ul {
            > li {
              > a {
                padding-left: 35px;
                &:before {
                  content: ".";
                }
              }
              /* fourth level */
              > ul {
                > li {
                  > a {
                    padding-left: 48px;
                    &:before {
                      content: ". . .";
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.chapter-sidebar-toggle {
  background: $global-yellow;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-family: $nav-font-family;
  font-size: 1.3em;
  left: 0px;
  padding: 0px 15px;
  line-height: 40px;
  height: 40px;
  position: fixed;
  z-index: 100;
  width: 100%;
  text-transform: uppercase;
  user-select: none;
  .open {
    display: block;
  }
  .close {
    display: none;
  }
  &.active {
    .open {
      display: none;
    }
    .close {
      display: block;
    }
  }
  @media #{$large-up} {
    display: none;
  }
}
