.sidebar {
  background: $global-yellow;
  bottom: 0px;
  box-sizing: border-box;
  display: block;
  left: 0px;
  overflow-y: scroll;
  padding-top: 60px;
  position: fixed;
  top: 60px;
  transform: translateX(-100%);
  transition: transform 0.3s ease 0s, opacity 0.3s ease;
  z-index: 99;
  &.active {
    transform: translateX(0);
  }
  @media #{$large-up} {
    padding-top: 10px;
    transform: translateX(0);
  }
}

.chapter-sidebar-toggle {
  background: $global-yellow;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-family: $nav-font-family;
  font-size: 1.3em;
  height: 40px;
  left: 0px;
  line-height: 40px;
  padding: 0px 15px;
  position: fixed;
  text-transform: uppercase;
  user-select: none;
  width: 100%;
  z-index: 100;
  .open {
    display: block;
  }
  .close {
    display: none;
  }
  &.active {
    .open {
      display: none;
    }
    .close {
      display: block;
    }
  }
  @media #{$large-up} {
    display: none;
  }
}
